<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <div class="form-group">
      <label for="email">Email:</label>

      
      <input type="email" id="email" formControlName="email" class="form-control">
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <div class="error-message">
          Por favor, introduce un email válido
        </div>
      }
    </div>
    
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" class="form-control">
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <div class="error-message">
          La contraseña es requerida
        </div>
      }
    </div>
    
    @if (errorMessage) {
      <div class="error-message">{{errorMessage}}</div>
    }
    
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!loginForm.valid">Iniciar Sesión</button>
    </form>


    <div>
    <p><br>
      ** Testing  **<br>
      <br>
  ADMIN:      <br> admin&#64;admin.com  <br> adminpass
  <br><br>
  EMPRESA:  <br> empresa2&#64;correo.com  <br> pass5678
  <br><br>
  CLIENTE:  <br> cliente1&#64;correo.com  <br> clientepass1
    </p>
    </div>
    
</div>