<div class="container mt-3 mb-5">
    <h3 class="text-center mb-4">Listado de vacantes</h3>
    <hr>
  
    <div class="d-flex flex-column gap-3">
      @for (vacante of arrVacantes; track vacante.idVacante) {
        <div class="w-100">
          <app-vacante [miVacante]="vacante"></app-vacante>
        </div>
      }
    </div>
  
    <hr>
  
   <!-- <div class="d-flex justify-content-center">
      <pagination-controls 
        (pageChange)="page = $event" 
        [maxSize]="5" 
        [directionLinks]="true" 
        [autoHide]="true">
      </pagination-controls>
    </div>-->
  
  </div>