<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <i class="bi bi-people"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vacantesDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Participantes
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="vacantesDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/listado/empresas']">Empresas</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/listado/usuarios']">Usuarios</a>
            </li>
          </ul>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vacantesDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Vacantes
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="vacantesDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/vacantes']">Listado de vacantes</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/nueva/vacante']">Nueva vacante</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          @if (!isLoggedIn()) {
          <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
          } @else {
          <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
          }
        </li>

      </ul>
    </div>
  </div>
</nav>