<div class="d-flex gap-2 justify-content-center">
    @if(parent == 'card'){
        <div class="d-flex gap-4">
            <div class="text-center">
              <i [routerLink]="['/vacante', idVacante]" class="bi bi-search pointer"></i>
            </div>    
            <div class="text-center">
              <i [routerLink]="['/editar','vacante', idVacante]" class="bi bi-pencil"></i>
            </div>
            <div class="text-center">
              <i class="bi bi-trash pointer"></i>
            </div>
          </div>
    }
    @else if(parent == 'view'){
    <a [routerLink]="['/vacantes']" class="btn btn-dark"> Volver</a>
    <a [routerLink]="['/editar','vacante', idVacante]" class="btn btn-dark">Editar</a>
    <button class="btn btn-dark">Cancelar</button>
    }
</div>